{
    "bot_name": "ircloggr",
    "servers": {
        "irc.mozilla.org": [
            "#ircloggr",
            "ircloggr2"
        ],
        "irc.freenode.net": [
            "ircloggr"
        ]
    },
    "host": "127.0.0.1",
    "port": 51432
}
