body {
    margin: 0;
    padding: 0;
    font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

body > div {
    width: 900px;
    margin: auto;
}

#homescreen .title {
    margin-top: -.5em;
    margin-top: 0;
    font-family: 'Permanent Marker', arial, serif;
    font-size: 4em;
}
#homescreen .subtitle {
    margin-top: -1em;
    font-style: italic;
    font-size: .8em;
}
#homescreen .summary {
    float:right;
    width: 600px;
    margin: auto;
    font-size: 1.2em;
    margin-top: 1.6em;
    text-align: center;
}

body > div {
    display: none;
}

div.rooms {
    width: 600px;
    margin: auto;
    margin-top: 2em;
}

#homescreen .roomlist {
    border: 7px solid #333;
    background-color: #666;
    margin: auto;
    width: 300px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    color: #ccc;
    padding: 6px;
    font-weight: bold;
}

#homescreen .roomlist .room > div {
    float: left;
    margin-right: 1em;
}

#homescreen .roomlist .room {
    height: 1.5em;
    cursor: pointer;
}

#logview .home {
    font-family: 'Permanent Marker', arial, serif;
    font-size: 1.5em;
    cursor: pointer;
}

#logview .header > * {
    float: left;
}

#logview .header {
    height: 3em;
}

#logview .header .currentHost, #logview .header .currentRoom {
    padding: .2em;
    padding-left: 1em;
    font-size: 1.3em;
    font-weight: bold;
}

#logview .header .currentRoom {
    color: #666;
}

#logview .logdisplay {
    border: 1px solid #E3E6E9;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

#logview .logdisplay .log {
    padding: .1em;
    height: 1.5em;
    border: 0;
    cursor: pointer;
}

#logview .logdisplay .log td {
    padding: 3px;
    border: 1px solid #E3E6E9;
}

#logview .logdisplay .log.odd {
    background-color: #eee;
}

#logview .logdisplay .log.theOne {
    background-color: rgb(255,255,204);
}

#logview .logdisplay .log > div {
    float: left;
}

#logview .logdisplay .log .time {
    min-width: 150px;
    text-align: right;
    margin-right: 1em;
    color: #666;
}

#logview .logdisplay .log .what {
    width: 100%;
}

.log .what .action {
    width: 100%;
    padding-left: 7em;
}


#logview .logdisplay .log .who {
    font-weight: bold;
    color: #369;
    margin-right: .5em;
}

#logview .button {
    color: #333;
    background-color: #E6F0FF;
    border: 1px solid #37C;
    float: right;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 3px;
    font-size: .85em;
    font-weight: bold;
    margin-right: 1em;
    margin-top: .5em;
    opacity: .8;
    cursor: pointer;
}

a {
    color: #039;
}
